/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* End of Reset CSS */

body {
	position: relative;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
}

.wrap {
	position: relative;
	background-color: #eee;
	width: 69%;
	margin: 0 auto;
}

header {
	position: fixed;
	background-color: #26c6da;
	box-shadow: 0 1px 6px 0 #999;
	overflow: ;
	width: 69%;
	height: 40px;
	z-index: 4;
	margin-bottom: 20px; 
}

.github {
	position: absolute;
	background-color: #00bcd4;
	width: 40px;
	height: 40px;
	right: 80px;
	float: left;
	cursor: pointer;
	transition: box-shadow .2s;
}

.gh-img {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 5px;
	left: 5px;
}

.vk {
	position: absolute;
	background-color: #00acc1;
	width: 40px;
	height: 40px;
	right: 40px;
	float: left;
	cursor: pointer;
	transition: box-shadow .2s;
}

.vk-img {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 5px;
	left: 5px;
}

.fb {
	position: absolute;
	background-color: #0097a7;
	width: 40px;
	height: 40px;
	right: 0;
	float: left;
	cursor: pointer;
	transition: box-shadow .2s;
}

.fb-img {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 5px;
	left: 5px;
}


.github:hover, .fb:hover, .vk:hover {
	box-shadow: 0 0 8px 0 #888;
	z-index: 3;
}

/* Main block */

.nav-block {
	position: fixed;
	top: 40px;
	width: 0;
	height: 35px;
	font-weight: bold;
	overflow: hidden;
	font-size: 0.9em;
	z-index: 2;
	text-transform: uppercase;
	box-shadow: 0 1px 4px 0 #aaa;
	-webkit-transition: width .4s ease-in-out .8s, height .4s ease-in-out .4s;
}

.nav-block.open {
	z-index: 3;
	width: 130px;
	height: 141px;
	z-index: 2;
	-webkit-transition: width .4s ease-in-out, height .4s ease-in-out .4s;
}
.nav-block.open .i {
	opacity: 1;
	-webkit-transition: opacity .4s ease-in-out .6s;
}

.nav-block > input {
	display: none;
}

.nav-block > label {
	display: block;
	padding: 10px;
	text-align: left;
	z-index: 2;
	cursor: pointer;
	background-color: #fafafa;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.nav-block > label:last-child {
	border-bottom: 1px solid #ddd;
}

.nav-block .i {
	color: rgba(0, 0, 0, 0.54);
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
}

.nav-block > label:hover {
	background-color: #ffe0b2;
}

.nav-block > input:checked + label {
	background-color: #ffa726;
}

.nav-items > div {
	position: relative;
	width: 75%;
	top: 70px;
	left: 131px;
	background-color: #fafafa;
	box-shadow: 0 1px 2px 0 #aaa;
	padding: 20px;
}

#cv {
	top: 70px;
}

#port {
	top: -761px;
}

#cert {
	top: -833px;
}

#lor {
	top: -905px;
}

#cv, #port, #cert, #lor {
	position: relative;
  opacity: 0;
  z-index: 0;
  transition: opacity .3s .2s;
}

.nav-items h2 {
	font-size: 24pt;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.87);
}

.nav-items h3 {
	margin: 20px 0;
	font-weight: 400;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.87);
}

.nav-items h4 {
	margin-top: 25px;
	font-weight: 400;
	font-size: 20px;
	color: rgb(38, 198, 218);
}

.nav-items p {
	clear: both;
	font-size: 13px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.87);
}

.avatar {
	float: left;
	height: 220px;
	margin: 20px 20px 0 0;
	box-shadow: 1px 1px 1px 0 #bbb;
}

.key-line {
	margin-bottom: 15px;
}

.key-line span {
	line-height: 30px;
	font-weight: 400;
	font-size: 20px;
	color: rgb(38, 198, 218);
}

.under {
	height: 12px;
	width: 100%;
	background-color: #eee;
	border: 1px solid #eee;
}

.over {
	height: 10px;
	background-color: #ffa726;
}

.html, .css {
	width: 90%;
}

.javascript {
	width: 60%;
}

.git {
	width: 70%;
}

.responsive {
	width: 70%;
}

.adobe {
	width: 70%;
}

.hard {
	width: 70%;
}

.windows {
	width: 80%;
}


/* Footer */

footer {
	position: absolute;
	bottom: 0;
	padding: 15px 0;
	background-color: #00acc1;
	box-shadow: 0 1px 6px 0 #999;
	overflow: hidden;
	width: 100%;
	height: 80px;
	z-index: 4;
}

.email {
	position: relative;
	margin: 20px 20px 0 210px;
	width: 250px;
	height: 40px;
	float: left;
}

.my-phone {
	position: relative;
	margin: 20px 20px 0 50px;
	width: 200px;
	height: 40px;
	float: left;
}

.phone {
	margin: 0 5px;
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
}

.number {
	margin: 0 5px;
	position: relative;
	height: 40px;
	color: #fff;
	float: left;
}
