.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.modal .column {
  width: 25%;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  cursor: pointer;
  margin: auto;
  left: 0.6%;
  padding: 0;
  width: 60%;
  z-index: 5;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.modal-content:hover .prev {
  opacity: 1;
}

.modal-content:hover .next {
  opacity: 1;
}

/* The Close Button */
.close {
  color: white;
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fafafa;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  z-index: 5;
}

/* Next & previous buttons */
.prev,
.next {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity .3s ease-in-out;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.54);
  color: #fafafa;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media all and (max-width: 1024px) {
  .modal {
    padding-top: 40px;
  }

  .modal-content {
    left: 0;
    width: 75%;
  }

  .prev, .next {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.54);
    color: #fafafa;
  }

  .close {
    top: 30px;
    right: 10px;
    font-size: 50px;
  }
}

@media all and (max-width: 800px) {
  .modal {
    padding-top: 40px;
  }

  .modal-content {
    left: 0;
    width: 75%;
  }

  .prev, .next {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.54);
    color: #fafafa;
  }

  .close {
    top: 30px;
    right: 10px;
    font-size: 50px;
  }
}

@media all and (max-width: 768px) {
  .modal {
    padding-top: 40px;
  }

  .modal-content {
    left: 0;
    width: 90%;
  }

  .prev, .next {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fafafa;
  }

  .close {
    top: 30px;
    right: 10px;
    font-size: 50px;
  }
}